@using SeizeTheDay.DataDomain.ViewModels
@model  ChangingPassword
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-content no-padding">
    <div class="reg-form container">
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="fa fa-edit"></i> Change Password <i class="fa fa-angle-right"></i></span>

                    </a>
                </li>
                <li>
                    <a href="/Users/Profile/@User.Identity.GetUserId()">
                        <span>@User.Identity.GetUserName()</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="col-md-7 reg-form-inner">
            <div class="heading">
                <h3>Change Password</h3>
                <div class="clear"></div>
            </div>
            @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <p>
                    <label>Old Password</label>
                    @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Enter your Old Password", type = "password" })
                </p>

                <p>
                    <label>New Password:</label>
                    @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Enter your RePassWord", type = "password" })
                </p>

                <p>
                    <label>Confirm Password:</label>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Enter your RePassWord", type = "password" })
                </p>

                <p class="submit">
                    <button type="submit" class="button-green button-small center-block"> <i class="fa fa-sign-in"></i> Change </button>
                </p>

                <p>
                    <span style="color:red">@ViewBag.Error </span>
                    <span style="color:green">@ViewBag.success</span>
                </p>
            }
        </div>
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="fa fa-edit"></i> Change Password <i class="fa fa-angle-right"></i></span>

                    </a>
                </li>
                <li>
                    <a href="/Users/Profile/@User.Identity.GetUserId()">
                        <span>@User.Identity.GetUserName()</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

