@using Microsoft.AspNet.Identity;
<header class="main-header">
    <!-- Logo -->
    <a href="/Admin/Dashboard/Index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">Admin Panel</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin Panel</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="@HttpContext.Current.Session["PhotoPath"].ToString()" err-src="@HttpContext.Current.Session["PhotoPath"].ToString()" class="user-image" alt="User Image">*@
                        <span class="hidden-xs">  @User.Identity.GetUserName()</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            @*<img src="@HttpContext.Current.Session["PhotoPath"].ToString()" err-src="/FileUpload/UserProfile/User.jpg" class="img-circle" alt="User Image">*@
                            <p>
                                @User.Identity.GetUserName()
                                <small>Member since @*@HttpContext.Current.Session["InsertDate"]*@ </small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/Admin/User/Index?ID=@User.Identity.GetUserId()" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                @using (Html.BeginForm("LogOff", "AdminAccount", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign off</a>
                                }
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>
