
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using SeizeTheDay.Entities.Identity.Entities;
@using SeizeTheDay.Entities.Identity;
<!DOCTYPE html>
<html lang="en" ng-app="startupController">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SeizeTheDay</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/blackfyre/images/favicon.png" />

    @Html.Partial("_Styles")
</head>
<body ng-controller="LayoutCtrl">
    @{

        var manager = new UserManager<User>(new UserStore<User>(new IdentityContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());
        string logged = User.Identity.IsAuthenticated.ToString();
    }
    <div class="body-wrap">
        <div class="main-wrap">
            <div class="container">
            </div>

            <!-- HEADER -->
            <header class="container">
                <input type="hidden" id="IsLogged" value="@logged" />
                <div class="row">
                    <div class="col-md-4 logo">

                        <a href="/Home/Index">
                            @*<img src="~/Content/blackfyre/images/common/logo2.png" class="img-responsive" alt="" />*@
                            <img src="~/Content/blackfyre/images/common/logos/logo2.png" class="img-responsive" alt="" />
                        </a>
                    </div>
                    <div class="col-md-8">

                        @if (currentUser == null)
                        {
                            <div class="logreg-info pull-right">
                                <a class="register-btn" href="/Account/Register"><i class="fa fa-pencil-square-o"></i> <span>Register</span></a>
                                <i>or</i>
                                <a class="login-btn" href="/Account/Login" data-toggle="tooltip"><i class="fa fa-lock"></i> <span>Sign in</span></a>
                            </div>
                        }
                        else
                        {
                            <ul id="elUserNav" class="ipsList_inline cSignedIn ipsClearfix ipsResponsive_showDesktop">
                                <li id="cCreate">
                                    <a href="#elCreateNew_menu" id="elCreateNew" title="Create new content">
                                        <strong><i class="fa fa-plus"></i> &nbsp;Create</strong> <i class="fa fa-caret-down"></i>
                                    </a>

                                </li>
                                <li class="elUserNav_sep">
                                </li>
                                <li class="cNotifications cUserNav_icon ">
                                    <a href="#" ng-click="showNotifications()" id="clickMenu" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Show notifications">
                                        <i class="fa fa-bell"></i>
                                        <span class="ipsNotificationCount ipsHide" ng-show="notifInit">{{totalNotf}}</span>
                                        <span class="ipsNotificationCount ipsHide" ng-show="TotalShow">{{totalNotf}}</span>
                                    </a>
                                    <div class="ipsMenu  ipsMenu_wide" id="MenuBar" style="right: 20px; top: 43.6563px; position: absolute; opacity: 1;">
                                        <div class="ipsMenu_headerBar">
                                            <a href="" class="ipsType_light ipsPos_right"><i class="fa fa-cog"></i> Notification Settings</a>
                                            <h4 class="ipsType_sectionHead" style="color:azure">Notifications</h4>
                                        </div>
                                        <div class="ipsMenu_innerContent ipsMenuNotScrollBar">
                                            <div id="elNotificationsBrowser"></div>
                                            <ol class="ipsDataList ipsDataList_readStatus" id="elNotifyContent">
                                                <li ng-repeat="item in NotfList">
                                                    <a style="color:black !important" ng-href="{{item.DetailsUrl}}" title="Go to ">
                                                        <i class="fa fa-bell"></i> {{item.Details}}
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="ipsMenu_footerBar ipsType_center">
                                            <a href=""><i class="fa fa-bars"></i> View all notifications</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="cInbox cUserNav_icon ">
                                    <a href="#" ng-click="showMessages()" class="dropdown-toggle" data-toggle="dropdown" id="fullInbox" aria-expanded="false" title="Show messages">
                                        <i class="fa fa-envelope"></i>
                                        <span class="ipsNotificationCount ipsHide" ng-show="notifInitMssg">{{totalMssgNotf}}</span>
                                        <span class="ipsNotificationCount ipsHide" ng-show="showMssgNotif">{{totalMssgNotf}}</span>
                                    </a>
                                    <div id="messageBar" class="ipsMenu ipsMenuMessage " style="right: 20px; top: 43.6563px; position: absolute; opacity: 1;">
                                        <div class="ipsMenu_headerBar">

                                            <h4 class="ipsType_sectionHead" style="color:azure">Messages</h4>
                                        </div>
                                        <div class="ipsMenu_innerContent messageScrollbar" style="max-height: 320px; overflow-y: auto;">
                                            <ol class="ipsDataList ipsDataList_readStatus" id="elInboxContent">

                                                <li ng-repeat="item in messageNotifList">
                                                    <a style="color:black !important" ng-href="{{item.DetailsUrl}}" title="Go to ">
                                                        <i class="fa fa-envelope"></i> {{item.Details}}
                                                    </a>
                                                </li>


                                            </ol>
                                        </div>
                                        <div class="ipsMenu_footerBar ipsType_center">
                                            <a href="/Users/Messenger/@User.Identity.GetUserId()"><i class="fa fa-bars"></i> Go to inbox</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="elUserNav_sep">
                                </li>
                                <li class="cUserNav_icon ipsHide" id="elCart_container"></li>
                                <li class="elUserNav_sep ipsHide" id="elCart_sep"></li>
                                <li id="cUserLink">
                                    <a href="/Users/Profile/@User.Identity.GetUserId()" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to @User.Identity.GetUserName()'s profile">
                                        <img src="~/FileUpload/UserProfile/@currentUser.PhotoPath" alt="@User.Identity.GetUserName()">
                                    </a>
                                    <a ng-click="showSettings()" title="Show options" id="elUserLink">
                                        @User.Identity.GetUserName() <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="ipsMenu ipsMenu_normal" id="dropDownList" style="right: 20px; top: 43.6563px; position: absolute; opacity: 1;">
                                        <li class="ipsMenu_title">Content</li>
                                        <li class="ipsMenu_item"><a href="/Users/Profile/@User.Identity.GetUserId()" title="Go to your profile">Profile</a></li>
                                        <li class="ipsMenu_item"><a href="">My Attachments</a></li>
                                        <li class="ipsMenu_title">Settings</li>
                                        <li class="ipsMenu_item"><a href="">Manage Followed Content</a></li>
                                        <li class="ipsMenu_item" id="elAccountSettingsLink"><a href="" title="Edit account settings">Account Settings</a></li>
                                        <li class="ipsMenu_item">
                                            <a href="" class="ipsMenu_item">Log off</a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }


                    </div>
                </div>
            </header>

            <div class="container no-padding nav-divider"></div>
            <audio hidden="hidden" id="play" controls="controls">
                <source src="~/Content/blackfyre/sounds/sound.wav" />
            </audio>

            <!-- NAVMENU -->
            <div class="container no-padding navigation">
                <div class="navbar navbar-inverse navbar-static-top col-lg-12 col-md-12 no-padding" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/Home/Index"><span class="fa fa-home"></span> Portal</a></li>
                            <li><a href="/Home/Forum"><span class="fa fa-comments-o"></span> Forums</a></li>
                            <li>  <a href="/Home/Staff"> <span class="fa fa-child"></span>Staff</a></li>

                            @if (currentUser != null)
                            {

                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="fa fa-user"></span>
                                        Profile
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="~/FileUpload/UserProfile/@currentUser.PhotoPath" err-src="~/FileUpload/UserProfile/@currentUser.PhotoPath" class="img-circle" alt="User Image">
                                            <p>
                                                @currentUser.UserName.ToString()
                                                <small>Member since @currentUser.RegisteredDate.Value.ToShortDateString()</small>
                                            </p>
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="/Users/Profile/@currentUser.Id" class="btn btn-default btn-flat">Profile</a>
                                            </div>
                                            <div class="pull-right">

                                                @if (Request.IsAuthenticated)
                                                {
                                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Log off</a>
                                                    }
                                                }

                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            }

                        </ul>
                        <div class="search-top">
                            <form method="get" id="sform">
                                <input name="s" type="search">
                            </form>
                        </div>

                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>

            @RenderBody()
            <div class="clearfix"></div>
        </div>

        <!-- COPYRIGHT -->
        <div class="copyright container">
            <p>&copy; @DateTime.Now.Year &nbsp;Made by İsmail DOĞAN. <a href="http://www.ismaildogaan.com" target="_blank">ismaildogaan.com</a></p>
            <div class="social">

                <a class="youtube" target="_blank" href="#"><i class="fa fa-youtube"></i> </a>
                <a class="instagram" target="_blank" href="#"><i class="fa fa-instagram"></i> </a>
                <a class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>

        <!-- BACK-TO-TOP -->
        <div class="container back-to-topw">
            <a class="back-to-top"></a>
        </div>
    </div>

    @Html.Partial("_Scripts")
</body>
</html>
