@using Xgteamc1XgTeamModel
@model ForumPostComment
@using Microsoft.AspNet.Identity;

<!-- TinyMCE -->
<script src="~/Content/blackfyre/js/SpecialTinymce/js/tinymce/tinymce.min.js"></script>
@using (Html.BeginForm("EditNewComment", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ForumPostCommentID)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.ForumPostID)
    <div class="cTopicPostArea ipsBox ipsBox_transparent ipsAreaBackground ipsPad  ipsSpacer_top">
        <div class="ipsComposeArea ipsComposeArea_withPhoto ipsClearfix ipsContained ipsComposeArea_minimized">
            <label class="ipsFieldRow_label" for="topic_content">
                Content <span class="ipsFieldRow_required">Required</span>
            </label>
            <div class="ipsType_normal ipsType_richText ">
                @Html.TextAreaFor(model => model.Text, new { @id = "tinymce2" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
            <ul class="ipsToolList ipsToolList_horizontal ipsClear ipsClearfix ">
                <li>
                    <button type="submit" class="ipsButton ipsButton_primary" style="float:right" tabindex="2" accesskey="s" role="button">Submit Reply</button>
                </li>
            </ul>
        </div>
    </div>
}
<script type="text/javascript">
    //Editör initialize için gerekli config kodları
    tinymce.init({
        selector: '#tinymce2',
        menubar: false,
        skin: "oxide-dark",
        toolbar_items_size: 'small',
        plugins: [
           "advlist autolink autoresize link image fullscreen  lists charmap paste print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking wordcount  ",
            "table contextmenu directionality emoticons paste template spellchecker searchreplace help imagetools media "
        ],
        mobile: {
            theme: "mobile",
            plugins: ['autosave', 'lists', 'autolink'],
            toolbar: ['undo', 'bold', 'italic', 'styleselect']
        },
        toolbar: "insertfile undo redo | styleselect | bold italic underline left aligncenter alignright alignjustify | forecolor  backcolor | fontselect fontsizeselect| bullist numlist outdent indent | link image media  preview |  emoticons | searchreplace  help ",
        file_picker_types: 'file image media',
        image_title: true,
    
        automatic_uploads: true,
        file_picker_types: 'image',
        file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.onchange = function () {
                var file = this.files[0];

                var reader = new FileReader();
                reader.onload = function () {

                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };
            input.click();
        },

        media_url_resolver: function (data, resolve/*, reject*/) {
            if (data.url.indexOf('YOUR_SPECIAL_VIDEO_URL') !== -1) {
                var embedHtml = '<iframe src="' + data.url +
                '" width="400" height="400" ></iframe>';
                resolve({ html: embedHtml });
            } else {
                resolve({ html: '' });
            }
        },
        width: "98%",
    });
</script>