@using Xgteamc1XgTeamModel
@model SeizeTheDay.DataDomain.ViewModels.ForumPageModel

@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-content no-padding">
    <div id="ipsLayout_contentArea">
        <main role="main" id="ipsLayout_body" class="ipsLayout_container">
            <div id="ipsLayout_contentArea">
                <div id="ipsLayout_contentWrapper">
                    <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">

                        <ul data-role="breadcrumbList">
                            <li>
                                <a title="Home" href="/Home/Index">
                                    <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/Forum">
                                    <span>Forum </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div id="ipsLayout_mainArea">
                        <a id="elContent"></a>

                        <div class="ipsPageHeader ipsClearfix ipsSpacer_bottom cForumHeader">
                            <ul class="ipsToolList ipsToolList_horizontal ipsClearfix ipsPos_right">
                                <li class="ipsToolList_primaryAction ipsResponsive_hidePhone">
                                    @*<a class="ipsButton ipsButton_medium ipsButton_important" href="" >Start new topic</a>*@
                                </li>
                            </ul>
                            <h1 class="ipsType_pageTitle">
                                Forums
                            </h1>
                        </div>

                        <section>
                            <ol class="ipsList_reset cForumList">
                                @foreach (var forum in Model.ForumList)
                                {
                                    <li data-categoryid="1" class="cForumRow ipsBox ipsSpacer_bottom" style="margin-bottom:15px">
                                        <h2 class="ipsType_sectionTitle ipsType_reset cForumTitle">
                                            <a href="#" class="ipsPos_right ipsJS_show ipsType_noUnderline cForumToggle" title="Toggle this forum"></a>
                                            <a href="">@forum.ForumName</a>
                                        </h2>
                                        @foreach (var topic in forum.ForumTopics)
                                        {
                                            <ol class="ipsDataList ipsDataList_large ipsDataList_zebra ipsAreaBackground_reset">
                                                <li class="ipsDataItem ipsDataItem_responsivePhoto ipsDataItem_unread ipsClearfix">
                                                    <div class="ipsDataItem_icon ipsDataItem_category">
                                                        <a href="@Url.Action("ForumsTopic","Home", new {id= topic.ForumTopicID}, Request.Url.Scheme)" title="@topic.ForumTopicName forum as read">
                                                            <img src="~/Content/blackfyre/images/common/announc.png" style="max-width: none" class="ipsItemStatus_custom3" />
                                                        </a>
                                                    </div>
                                                    <div class="ipsDataItem_main">
                                                        <h4 class="ipsDataItem_title ipsType_large ipsType_break">
                                                            <a title="Go to @topic.ForumTopicName" href="@Url.Action("ForumsTopic","Home", new {id= topic.ForumTopicID}, Request.Url.Scheme)">@topic.ForumTopicName</a>
                                                        </h4>
                                                        <div class="ipsDataItem_meta ipsType_richText">
                                                            <p>
                                                                @topic.ForumTopicDescription
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="ipsDataItem_stats ipsDataItem_statsLarge">
                                                        <dl>
                                                            <dt class="ipsDataItem_stats_number">@topic.ForumPosts.Count()</dt>
                                                            <dd class="ipsDataItem_stats_type ipsType_light"> posts</dd>
                                                        </dl>
                                                    </div>

                                                    @if (topic.ForumPosts.Count() != 0)
                                                    {
                                                        foreach (var lastPost in topic.ForumPosts.OrderByDescending(x => x.CreatedTime).Take(1))
                                                        {
                                                            <ul class="ipsDataItem_lastPoster ipsDataItem_withPhoto ipsResponsive_hidePhone">
                                                                <li style="margin-left: 50px;">
                                                                    @if (lastPost.User.UserInfoe_Id.TagUserName != null)
                                                                    {

                                                                        <a href="/Users/Profile/@lastPost.User.UserInfoe_Id.Id" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to @lastPost.User.UserInfoe_Id.TagUserName's profile">
                                                                            <img src="~/FileUpload/UserProfile/@lastPost.User.UserInfoe_Id.PhotoPath" style="border-radius:40px !important" alt="@lastPost.User.UserInfoe_Id.TagUserName" itemprop="image">

                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="/Users/Profile/@lastPost.User.UserInfoe_Id.Id" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to @lastPost.User.UserName's profile">
                                                                            <img src="~/FileUpload/UserProfile/@lastPost.User.UserInfoe_Id.PhotoPath" style="border-radius:40px !important" alt="@lastPost.User.UserName" itemprop="image">

                                                                        </a>
                                                                    }
                                                                </li>
                                                                @if (lastPost.User.UserInfoe_Id.TagUserName != null)
                                                                {
                                                                    <li style="margin-left: 50px;"><a href="/Home/TopicDetail/@lastPost.ForumPostID" class="ipsType_break ipsContained" title="Go to last post @lastPost.ForumPostTitle">@lastPost.ForumPostTitle</a></li>
                                                                    <li class="ipsType_blendLinks" style="margin-left: 50px;">
                                                                        By
                                                                        <a href="/Users/Profile/@lastPost.User.UserInfoe_Id.Id" title="Go to @lastPost.User.UserInfoe_Id.TagUserName's profile" class="ipsType_break"><span style="color:@lastPost.User.UserInfoe_Id.TagColor">@lastPost.User.UserInfoe_Id.TagUserName</span></a>
                                                                    </li>

                                                                }
                                                                else
                                                                {
                                                                    <li style="margin-left: 50px;"><a href="/Home/TopicDetail/@lastPost.ForumPostID" class="ipsType_break ipsContained" title="Go to last post @lastPost.ForumPostTitle">@lastPost.ForumPostTitle</a></li>
                                                                    <li class="ipsType_blendLinks" style="margin-left: 50px;">
                                                                        By
                                                                        <a href="/Users/Profile/@lastPost.User.UserInfoe_Id.Id" title="Go to @lastPost.User.UserName's profile" class="ipsType_break"><span style="color:#c4c4c4">@lastPost.User.UserName</span></a>
                                                                    </li>
                                                                }


                                                                <li style="margin-left:50px" class="ipsType_light">
                                                                    <a href="" title="Go to last post" class="ipsType_blendLinks">
                                                                        <time title="@lastPost.CreatedTime">@System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(topic.CreatedTime.Value.Month) @lastPost.CreatedTime.Value.Day.ToString(), @lastPost.CreatedTime.Value.Year.ToString()</time>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <ul class="ipsDataItem_lastPoster ipsDataItem_withPhoto ipsResponsive_hidePhone">
                                                            <li class="ipsType_light">
                                                                <p style="font-weight:500">No post here yet</p>
                                                            </li>
                                                        </ul>
                                                    }
                                                </li>

                                            </ol>
                                        }

                                    </li>
                                }


                            </ol>
                        </section>
                        <div class="cWidgetContainer ">
                            <ul class="ipsList_reset">
                                <li class="ipsWidget ipsWidget_horizontal ipsBox">
                                    <h3 class="ipsType_reset ipsWidget_title">
                                        Who's Online
                                        &nbsp;&nbsp;
                                        @if (Model.OnlineUsersCount != null)
                                        {
                                            <span class="ipsType_light ipsType_unbold ipsType_medium">@Model.OnlineUsersCount Members, 0 Anonymous</span>
                                        }
                                        else
                                        {
                                            <span class="ipsType_light ipsType_unbold ipsType_medium">0 Members, 0 Anonymous</span>
                                        }

                                        <span class="ipsType_medium ipsType_light ipsType_unbold ipsType_blendLinks"><a href="">(See full list)</a></span>
                                    </h3>
                                    <div class="ipsWidget_inner ipsPad">
                                        <ul class="ipsList_inline ipsList_csv ipsList_noSpacing ipsType_normal">
                                            @if (Model.OnlineUsers != null)
                                            {
                                                foreach (var onlineUsers in Model.OnlineUsers)
                                                {
                                                    if (onlineUsers.TagUserName != null)
                                                    {
                                                        <li>
                                                            <a href="/Users/Profile/@onlineUsers.Id" title="Go to @onlineUsers.TagUserName's profile" class="ipsType_break"><span style="color:@onlineUsers.TagColor"> @onlineUsers.TagUserName </span></a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="/Users/Profile/@onlineUsers.Id" title="Go to @onlineUsers.UserName's profile" class="ipsType_break"><span style="color:#c4c4c4"> @onlineUsers.UserName </span></a>
                                                        </li>
                                                    }

                                                }

                                            }

                                        </ul>
                                    </div>
                                </li>

                                <li class="ipsWidget ipsWidget_horizontal ipsBox">
                                    <h3 class="ipsType_reset ipsWidget_title">
                                        Who Was Online
                                        &nbsp;&nbsp;
                                        @if (Model.OfflineUsersCount != null)
                                        {
                                            <span class="ipsType_light ipsType_unbold ipsType_medium">@Model.OfflineUsersCount Users were Online in the Last 24 Hours</span>
                                        }
                                        else
                                        {
                                            <span class="ipsType_light ipsType_unbold ipsType_medium">0 Users were Online in the Last 24 Hours</span>

                                        }
                                    </h3>
                                    <div class="ipsWidget_inner ipsPad">
                                        <ul class="ipsList_inline ipsList_csv ipsList_noSpacing">
                                            @if (Model.OfflineUsers != null)
                                            {
                                                foreach (var offlineUsers in Model.OfflineUsers)
                                                {
                                                    if (offlineUsers.TagUserName != null)
                                                    {
                                                        <li>
                                                            <a href="/Users/Profile/@offlineUsers.Id" title="Go to @offlineUsers.TagUserName's profile" class="ipsType_break"><span style="color:@offlineUsers.TagColor">@offlineUsers.TagUserName</span></a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="/Users/Profile/@offlineUsers.Id" title="Go to @offlineUsers.UserName's profile" class="ipsType_break"><span style="color:#c4c4c4">@offlineUsers.UserName</span></a>
                                                        </li>

                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                </li>

                                <li class="ipsWidget ipsWidget_horizontal ipsBox">
                                    <h3 class="ipsType_reset ipsWidget_title">Member Statistics</h3>
                                    <div class="ipsWidget_inner">
                                        <div class="ipsGrid ipsGrid_collapsePhone ipsWidget_stats">
                                            <div class="ipsGrid_span4 ipsType_center" style="width: 31.914893617021278%;">
                                                <span class="ipsType_large ipsWidget_statsCount">@Model.TotalMembers</span><br>
                                                <span class="ipsType_light ipsType_medium">Total Members</span>
                                            </div>
                                            <div class="ipsGrid_span4 ipsType_center" style="width: 31.914893617021278%;">
                                                <span class="ipsType_large ipsWidget_statsCount" data-ipstooltip="" title="12/20/18 08:22  PM">10</span><br>
                                                <span class="ipsType_light ipsType_medium">Most Online</span>
                                            </div>
                                            <div class="ipsGrid_span4 ipsType_left ipsPhotoPanel ipsPhotoPanel_mini cNewestMember" style="width: 31.914893617021278%;">
                                                @if (Model.LastUser != null)
                                                {

                                                    if (Model.LastUser.TagUserName != null)
                                                    {
                                                        <a href="/Users/Profile/@Model.LastUser.Id" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to @Model.LastUser.TagUserName's profile">
                                                            <img src="~/FileUpload/UserProfile/@Model.LastUser.PhotoPath" style="max-width:none" alt="@Model.LastUser.TagUserName" itemprop="image">
                                                        </a>
                                                        <div>
                                                            <span class="ipsType_minorHeading">Newest Member</span><br>
                                                            <span class="ipsType_normal">
                                                                <a href="/Users/Profile/@Model.LastUser.Id" title="Go to @Model.LastUser.TagUserName's profile" class="ipsType_break"><span style="color:@Model.LastUser.TagColor">@Model.LastUser.TagUserName</span></a>
                                                            </span><br>
                                                            <span class="ipsType_small ipsType_light">
                                                                Joined
                                                                <time title="@Model.LastUser.RegisteredDate">@Model.LastUser.RegisteredDate</time>
                                                            </span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <a href="/Users/Profile/@Model.LastUser.Id" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to @Model.LastUser.UserName's profile">
                                                            <img src="~/FileUpload/UserProfile/@Model.LastUser.PhotoPath" style="max-width:none" alt="@Model.LastUser.UserName" itemprop="image">
                                                        </a>
                                                        <div>
                                                            <span class="ipsType_minorHeading">Newest Member</span><br>
                                                            <span class="ipsType_normal">
                                                                <a href="/Users/Profile/@Model.LastUser.Id" title="Go to @Model.LastUser.UserName's profile" class="ipsType_break"><span style="color:#c4c4c4">@Model.LastUser.UserName</span></a>
                                                            </span><br>
                                                            <span class="ipsType_small ipsType_light">
                                                                Joined
                                                                <time datetime="2019-02-02T17:28:06Z" title="@Model.LastUser.RegisteredDate">@Model.LastUser.RegisteredDate</time>
                                                            </span>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ipsWidget ipsWidget_horizontal ipsBox">
                                    <h3 class="ipsType_reset ipsWidget_title">Forum Statistics</h3>
                                    <div class="ipsWidget_inner">
                                        <div class="ipsGrid ipsGrid_collapsePhone ipsWidget_stats">
                                            <div class="ipsGrid_span6 ipsType_center" style="width: 48.93617021276595%;">
                                                <span class="ipsType_large ipsWidget_statsCount"> @Model.TotalPost</span><br>
                                                <span class="ipsType_light ipsType_medium">Total Post</span>
                                            </div>
                                            <div class="ipsGrid_span6 ipsType_center" style="width: 48.93617021276595%;">
                                                <span class="ipsType_large ipsWidget_statsCount">@Model.TotalReplies</span><br>
                                                <span class="ipsType_light ipsType_medium">Total Replies</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="ipsLayout_sidebar" class="ipsLayout_sidebarright">
                        <div class="cWidgetContainer">
                            <ul class="ipsList_reset">

                                <li class="ipsWidget ipsWidget_vertical ipsBox">
                                    <h3 class="ipsWidget_title ipsType_reset">New Posts</h3>
                                    <div class="ipsPad_half ipsWidget_inner">
                                        <ul class="ipsDataList ipsDataList_reducedSpacing">
                                            @if (Model.NewPosts != null)
                                            {
                                                foreach (var newPost in Model.NewPosts)
                                                {
                                                    if (newPost.User.UserInfoe_Id != null)
                                                    {
                                                        if (newPost.User.UserInfoe_Id.TagUserName != null)
                                                        {
                                                            <li class="ipsDataItem ipsDataItem_unread">
                                                                <div class="ipsDataItem_icon ipsPos_top">
                                                                    <a href="/Users/Profile/@newPost.User.UserInfoe_Id.Id" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to @newPost.User.UserInfoe_Id.TagUserName's profile">
                                                                        <img src="~/FileUpload/UserProfile/@newPost.User.UserInfoe_Id.PhotoPath" style="max-width:none" alt="@newPost.User.UserInfoe_Id.TagUserName" itemprop="image">
                                                                    </a>
                                                                </div>
                                                                <div class="ipsDataItem_main cWidgetComments">
                                                                    <div class="ipsCommentCount ipsPos_right ipsFaded" title="@newPost.ForumPostComments.Count() replies">@newPost.ForumPostComments.Count()</div>
                                                                    <div class="ipsType_break ipsContained">
                                                                        <a href="/Home/TopicDetail/@newPost.ForumPostID" title="View the topic @newPost.ForumPostTitle" class="ipsDataItem_title">@newPost.ForumPostTitle</a>
                                                                    </div>
                                                                    <p class="ipsType_reset ipsType_medium ipsType_blendLinks ipsContained">
                                                                        <span>
                                                                            By
                                                                            <a href="/Users/Profile/@newPost.User.UserInfoe_Id.Id" title="Go to @newPost.User.UserInfoe_Id.TagUserName's profile" class="ipsType_break"><span style="color:@newPost.User.UserInfoe_Id.TagColor">@newPost.User.UserInfoe_Id.TagUserName</span></a>
                                                                        </span>
                                                                        <span class="ipsType_light">
                                                                            Started
                                                                            <time title="@newPost.CreatedTime">@System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(newPost.CreatedTime.Value.Month) @newPost.CreatedTime.Value.Day.ToString(), @newPost.CreatedTime.Value.Year.ToString()</time>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="ipsDataItem ipsDataItem_unread">
                                                                <div class="ipsDataItem_icon ipsPos_top">
                                                                    <a href="/Users/Profile/@newPost.User.UserInfoe_Id.Id" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to @newPost.User.UserName's profile">
                                                                        <img src="~/FileUpload/UserProfile/@newPost.User.UserInfoe_Id.PhotoPath" style="max-width:none" alt="@newPost.User.UserName" itemprop="image">
                                                                    </a>
                                                                </div>
                                                                <div class="ipsDataItem_main cWidgetComments">
                                                                    <div class="ipsCommentCount ipsPos_right ipsFaded" title="@newPost.ForumPostComments.Count() replies">@newPost.ForumPostComments.Count()</div>
                                                                    <div class="ipsType_break ipsContained">
                                                                        <a href="/Home/TopicDetail/@newPost.ForumPostID" title="View the topic @newPost.ForumPostTitle" class="ipsDataItem_title">@newPost.ForumPostTitle</a>
                                                                    </div>
                                                                    <p class="ipsType_reset ipsType_medium ipsType_blendLinks ipsContained">
                                                                        <span>
                                                                            By
                                                                            <a href="/Users/Profile/@newPost.User.UserInfoe_Id.Id" title="Go to @newPost.User.UserName's profile" class="ipsType_break"><span style="color:#c4c4c4">@newPost.User.UserName</span></a>
                                                                        </span>
                                                                        <span class="ipsType_light">
                                                                            Started
                                                                            <time title="@newPost.CreatedTime">@System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(newPost.CreatedTime.Value.Month) @newPost.CreatedTime.Value.Day.ToString(), @newPost.CreatedTime.Value.Year.ToString()</time>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li class="ipsWidget ipsWidget_vertical ipsBox">
                                    <h3 class="ipsWidget_title ipsType_reset">Most Replied Post</h3>
                                    <div class="ipsPad_half ipsWidget_inner">
                                        <ul class="ipsDataList ipsDataList_reducedSpacing">
                                            @foreach (var mostReply in Model.MostRepliedPost)
                                            {
                                                if (mostReply.User.UserInfoe_Id.TagUserName != null)
                                                {
                                                    <li class="ipsDataItem ipsDataItem_unread">
                                                        <div class="ipsDataItem_icon ipsPos_top">
                                                            <a href="/Users/Profile/@mostReply.User.UserInfoe_Id.Id" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to @mostReply.User.UserInfoe_Id.TagUserName's profile">
                                                                <img src="~/FileUpload/UserProfile/@mostReply.User.UserInfoe_Id.PhotoPath" style="max-width:none" alt="@mostReply.User.UserInfoe_Id.TagUserName" itemprop="image">
                                                            </a>
                                                        </div>
                                                        <div class="ipsDataItem_main cWidgetComments">
                                                            <div class="ipsCommentCount ipsPos_right ipsFaded" title="@mostReply.ForumPostComments.Count() replies">@mostReply.ForumPostComments.Count()</div>
                                                            <div class="ipsType_break ipsContained">
                                                                <a href="/Home/TopicDetail/@mostReply.ForumPostID" title="View the topic @mostReply.ForumPostTitle" class="ipsDataItem_title">@mostReply.ForumPostTitle</a>
                                                            </div>
                                                            <p class="ipsType_reset ipsType_medium ipsType_blendLinks ipsContained">
                                                                <span>
                                                                    By
                                                                    <a href="/Users/Profile/@mostReply.User.UserInfoe_Id.Id" title="Go to @mostReply.User.UserInfoe_Id.TagUserName's profile" class="ipsType_break"><span style="color:@mostReply.User.UserInfoe_Id.TagColor">@mostReply.User.UserInfoe_Id.TagUserName</span></a>
                                                                </span>
                                                                <span class="ipsType_light">
                                                                    Started
                                                                    <time title="@mostReply.CreatedTime">@System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(mostReply.CreatedTime.Value.Month) @mostReply.CreatedTime.Value.Day.ToString(), @mostReply.CreatedTime.Value.Year.ToString()</time>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="ipsDataItem ipsDataItem_unread">
                                                        <div class="ipsDataItem_icon ipsPos_top">
                                                            <a href="/Users/Profile/@mostReply.User.UserInfoe_Id.Id" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to @mostReply.User.UserName's profile">
                                                                <img src="~/FileUpload/UserProfile/@mostReply.User.UserInfoe_Id.PhotoPath" style="max-width:none" alt="@mostReply.User.UserName" itemprop="image">
                                                            </a>
                                                        </div>
                                                        <div class="ipsDataItem_main cWidgetComments">
                                                            <div class="ipsCommentCount ipsPos_right ipsFaded" title="@mostReply.ForumPostComments.Count() replies">@mostReply.ForumPostComments.Count()</div>
                                                            <div class="ipsType_break ipsContained">
                                                                <a href="/Home/TopicDetail/@mostReply.ForumPostID" title="View the topic @mostReply.ForumPostTitle" class="ipsDataItem_title">@mostReply.ForumPostTitle</a>
                                                            </div>
                                                            <p class="ipsType_reset ipsType_medium ipsType_blendLinks ipsContained">
                                                                <span>
                                                                    By
                                                                    <a href="/Users/Profile/@mostReply.User.UserInfoe_Id.Id" title="Go to @mostReply.User.UserName's profile" class="ipsType_break"><span style="color:#c4c4c4">@mostReply.User.UserName</span></a>
                                                                </span>
                                                                <span class="ipsType_light">
                                                                    Started
                                                                    <time title="@mostReply.CreatedTime">@System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(mostReply.CreatedTime.Value.Month) @mostReply.CreatedTime.Value.Day.ToString(), @mostReply.CreatedTime.Value.Year.ToString()</time>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </li>
                                @*
                                        DISCORD USER
                                        <li class="ipsWidget ipsWidget_vertical ipsBox">
                                        <h3 class="ipsWidget_title ipsType_reset">
                                            Discord Server: Xtreme Gamers
                                            <div class="ipsPos_right">@ViewBag.DisCordUserCount </div>
                                        </h3>
                                        <div class="ipsPad_half ipsWidget_inner">
                                            <ul class="ipsDataList ipsDataList_reducedSpacing">
                                                @foreach (var userDiscord in ViewBag.DisCordUser as List<TblUserMast>)
                                                {
                                                    <li class="ipsDataItem">
                                                        <style>
                                                            .ipsOnlineStatus_idle {
                                                                color: #d7d000;
                                                            }
                                                        </style>
                                                        <div class="ipsDataItem_icon ipsPos_middle ipsType_center ipsType_large ipsType_light">
                                                            <strong class="ipsOnlineStatus ipsOnlineStatus_dnd"><i class="fa fa-circle"></i></strong>
                                                        </div>
                                                        <div class="ipsDataItem_icon ipsPos_top">
                                                            <div class="ipsUserPhoto ipsUserPhoto_tiny">
                                                                <img src="/FileUpload/UserProfile/@userDiscord.PhotoPath" style="max-width:none" alt="@userDiscord.UserName" itemprop="image">
                                                            </div>
                                                        </div>
                                                        @if (userDiscord.TagUserName != null)
                                                        {
                                                            <div class="ipsDataItem_main ipsPos_middle" style="padding:12px 10px;">
                                                                <div class="ipsType_large"> <span style="color:@userDiscord.TagColor">@userDiscord.TagUserName </span></div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="ipsDataItem_main ipsPos_middle" style="padding:12px 10px;">
                                                                <div class="ipsType_large"> <span style="color:#c4c4c4">@userDiscord.UserName</span></div>
                                                            </div>
                                                        }

                                                    </li>
                                                }

                                            </ul>
                                            <a class="ipsPos_right ipsSpacer_top ipsButton ipsButton_normal ipsButton_small" href="https://discord.gg/DCba67" target="_blank">Join Us!</a>

                                            <div class="ipsClear"></div>
                                        </div>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    <nav class="ipsBreadcrumb ipsBreadcrumb_ ipsFaded_withHover">

                        <ul data-role="breadcrumbList">
                            <li>
                                <a title="Home" href="/Home/Index">
                                    <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/Forum">
                                    <span>Forum </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>
</div>
