@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "TopicDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var getUserID = User.Identity.GetUserId();
}

<!-- TinyMCE -->
<script src="~/Content/blackfyre/js/SpecialTinymce/js/tinymce/tinymce.min.js"></script>

<div ng-controller="DetailCtrl">

    <!-- Detail of a Forum Post-->
    <div class="container main-content no-padding" ng-show="postDetailShow">
        <div id="ipsLayout_contentArea">
            <main role="main" id="ipsLayout_body" class="ipsLayout_container">
                <div id="ipsLayout_contentArea">
                    <div id="ipsLayout_contentWrapper">
                        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">

                            <ul>
                                <li>
                                    <a title="Home" href="/Home/Index">
                                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Forum/{{postDetail.ForumID}}">
                                        <span> {{postDetail.ForumName}} <i class="fa fa-angle-right"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ForumsTopic/{{postDetail.ForumTopicID}}">
                                        <span>{{postDetail.ForumTopicName}} <i class="fa fa-angle-right"></i></span>
                                    </a>
                                </li>
                                <li>
                                    {{postDetail.ForumPostTitle}}
                                </li>
                            </ul>
                        </nav>
                        <div id="ipsLayout_mainArea">
                            <a id="elContent"></a>
                            <div class="ipsPageHeader ipsClearfix">

                                <input type="hidden" id="getPostID" value="@ViewBag.PostID" />

                                <div class="ipsPhotoPanel ipsPhotoPanel_small ipsPhotoPanel_notPhone ipsClearfix">

                                    <a href="/Users/Profile/{{postDetail.CreatedByUserID}}" class="ipsUserPhoto ipsUserPhoto_small" title="Go to {{postDetail.CreatedByUserName}}'s profile">
                                        <img ng-src="~/FileUpload/UserProfile/{{postDetail.CreatedByPhotoPath}}" alt="Division" itemprop="image" style="max-width:none">
                                    </a>

                                    <div>
                                        <h1 class="ipsType_pageTitle">
                                            <span ng-show="!postDetail.PostLocked" class="ipsBadge ipsBadge_icon ipsBadge_positive" data-ipstooltip="" title="Pinned"><i class="fa fa-thumb-tack"></i></span>
                                            <span ng-show="postDetail.PostLocked"><i class="ipsType_large ipsBadge  ipsBadge_icon fa fa-lock" title="This post is locked !"></i></span>
                                            {{postDetail.ForumPostTitle}}
                                        </h1>

                                        <p class="ipsType_reset ipsType_blendLinks ">
                                            <span class="ipsType_normal">
                                                Started by
                                                <a href="/Users/Profile/{{postDetail.CreatedByUserID}}" title="Go to {{postDetail.CreatedByUserName}}'s profile" class="ipsType_break">
                                                    <span style="font-weight: bold; color:azure">{{postDetail.CreatedByUserName}}</span>
                                                </a>
                                            </span>,
                                            <span class="ipsType_light ipsType_noBreak"><time title="{{postDetail.CreatedTime}}">{{postDetail.CreatedTime}}</time></span><br>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="ipsClearfix">
                                <br /><br />
                            </div>
                            <div class="cTopic ipsClear ipsSpacer_top">
                                <h2 class="ipsType_sectionTitle ipsType_reset ipsType_medium">{{postDetail.CommentCount}} replies in this topic</h2>
                                <div class="ipsAreaBackground_light">
                                    <a id="comment-2039"></a>
                                    <article class="cPost ipsBox  ipsComment  ipsComment_parent ipsClearfix ipsClear ipsColumns ipsColumns_noSpacing ipsColumns_collapsePhone ipsComment_highlighted ">
                                        <div class="cAuthorPane cAuthorPane_mobile ipsResponsive_showPhone ipsResponsive_block">

                                            <h3 class="ipsType_sectionHead cAuthorPane_author ipsResponsive_showPhone ipsResponsive_inlineBlock ipsType_break ipsType_blendLinks ipsTruncate ipsTruncate_line">
                                                <a href="/Users/Profile/{{postDetail.CreatedByUserID}}" title="Go to {{postDetail.CreatedByUserName}}'s profile" class="ipsType_break">
                                                    <span style="font-weight: bold; color:azure;">{{postDetail.CreatedByUserName}}</span>
                                                </a>
                                            </h3>


                                            <div class="cAuthorPane_photo">
                                                <a href="/Users/Profile/{{postDetail.CreatedByUserID}}" class="ipsUserPhoto ipsUserPhoto_large" title="Go to {{postDetail.CreatedByUserName}}'s profile">
                                                    <img ng-src="~/FileUpload/UserProfile/{{postDetail.CreatedByPhotoPath}}" class="img-circle" alt="{{postDetail.CreatedByUserName}}" itemprop="image">
                                                </a>
                                            </div>

                                        </div>
                                        <aside class="ipsComment_author cAuthorPane ipsColumn ipsColumn_medium ipsResponsive_hidePhone">

                                            <h3 class="ipsType_sectionHead cAuthorPane_author ipsType_blendLinks ipsType_break">
                                                <i style="font-size: 16px" class="fa fa-circle ipsOnlineStatus_online" title="{{postDetail.CreatedByUserName}} is online now"></i>
                                                <strong>
                                                    <a href="/Users/Profile/{{postDetail.CreatedByUserID}}" title="Go to {{postDetail.CreatedByUserName}}'s profile" class="ipsType_break">
                                                        <span style="font-weight: bold;  color:azure">{{postDetail.CreatedByUserName}}</span>
                                                    </a>
                                                </strong>

                                            </h3>

                                            <ul class="cAuthorPane_info ipsList_reset">

                                                @*<li ng-show="postDetail." class="ipsType_break">@Model.User.UserInfoe_Id.UserType.UserTypeName</li>*@

                                                <li class="cAuthorPane_photo">
                                                    <a href="/Users/Profile/{{postDetail.CreatedByUserID}}" class="ipsUserPhoto ipsUserPhoto_large" title="Go to {{postDetail.CreatedByUserName}}'s profile" id="ips_uid_5030_3">
                                                        <img ng-src="~/FileUpload/UserProfile/{{postDetail.CreatedByPhotoPath}}" alt="{{postDetail.CreatedByUserName}}" class="img-circle" itemprop="image">
                                                    </a>
                                                </li>

                                                @*<li class="ipsType_light">@Model.User.ForumPosts.Count() posts</li>*@

                                            </ul>
                                        </aside>
                                        <div class="ipsColumn ipsColumn_fluid">
                                            <div id="comment-2039_wrap" class="ipsComment_content ipsType_medium  ipsFaded_withHover">
                                                <div class="ipsComment_meta ipsType_light">
                                                    <div class="ipsPos_right ipsType_light ipsType_reset ipsFaded ipsFaded_more ipsType_blendLinks">

                                                    </div>
                                                    <div class="ipsType_reset">
                                                        <a href="" class="ipsType_blendLinks">
                                                            Posted
                                                            <time title="{{postDetail.CreatedTime}}">{{postDetail.CreatedTime}}</time>
                                                        </a>

                                                        @if (User.Identity.IsAuthenticated)
                                                        {
                                                            <div ng-show="postDetail.CreatedByUserID == '@User.Identity.GetUserId()'" class="pull-right">
                                                                <a ng-click="deletePost(postDetail.ForumPostID)" title="Delete your post !" style="color: #25C2F5 !important" class="pull-right">
                                                                    <span class="fa fa-remove "></span>Delete
                                                                </a>

                                                                <span class="pull-right"> &nbsp; &nbsp; </span>
                                                                <a ng-click="editPost(postDetail.ForumPostID)" title="Edit your post !" style="color: #25C2F5 !important" class="pull-right">
                                                                    <span class="fa fa-edit "></span>Edit
                                                                </a>
                                                            </div>
                                                        }

                                                        <span class="ipsResponsive_hidePhone">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="cPost_contentWrap ipsPad">
                                                    <div class="ipsType_normal ipsType_richText ipsContained">
                                                        <div ng-bind-html="renderHtml(postDetail.ForumPostContent)"> </div>
                                                    </div>

                                                    <div class="ipsItemControls">
                                                        <div class="ipsItemControls_right ipsClearfix ">
                                                            <div class="ipsReact ipsPos_right">
                                                                <div class="ipsReact_blurb">
                                                                    <ul class="ipsReact_reactions">
                                                                        <li class="ipsReact_reactCount">
                                                                            <a href="javascript:void(null)" title="See who reacted &quot;Like&quot;">
                                                                                <span>
                                                                                    <img src="~/Content/blackfyre/images/common/react_like.png" alt="Like" />

                                                                                </span>
                                                                                <span>
                                                                                    {{postDetail.PostLikesCount}}
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="ipsReact_overview ipsType_blendLinks">
                                                                        <a href="" title="See who reacted to this"> {{postDetail.PostLikesCount}} members</a>
                                                                        reacted to this
                                                                    </div>
                                                                </div>

                                                                @*<div class="ipsReact_types">
                                                                        <ul class="ipsList_inline"></ul>
                                                                        @if (Model.ForumPostLikes.Any(x => x.UserID == User.Identity.GetUserId() && x.PostID == Model.ForumPostID))
                                                                        {
                                                                            <span class="ipsReact_button ipsReact_reacted">
                                                                                <a href="javascript:void(null)" class="ipsReact_reaction">
                                                                                    <img src="~/Content/blackfyre/images/common/react_like.png" onclick="likePost(@Model.ForumPostID)" alt="Dislike" title="Dislike" />
                                                                                    <span class="ipsReact_name">Dislike</span>
                                                                                </a>
                                                                            </span>
                                                                            <a href="" class="ipsReact_unreact ipsHide" title="Remove your reaction">×</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="ipsReact_button ">
                                                                                <a href="javascript:void(null)" class="ipsReact_reaction">
                                                                                    <img src="~/Content/blackfyre/images/common/react_like.png" onclick="likePost(@Model.ForumPostID)" alt="Like" title="Like" />
                                                                                    <span class="ipsReact_name">Like</span>
                                                                                </a>
                                                                            </span>
                                                                        }
                                                                    </div>*@

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </article>


                                    <!-- FORUM POST COMMENTS -->
                                    <article class="cPost ipsBox  ipsComment  ipsComment_parent ipsClearfix ipsClear ipsColumns ipsColumns_noSpacing ipsColumns_collapsePhone" ng-repeat="comment in postComments">
                                        <div class="cAuthorPane cAuthorPane_mobile ipsResponsive_showPhone ipsResponsive_block">

                                            <h3 class="ipsType_sectionHead cAuthorPane_author ipsResponsive_showPhone ipsResponsive_inlineBlock ipsType_break ipsType_blendLinks ipsTruncate ipsTruncate_line">
                                                <a href="/Users/Profile/{{comment.CreatedByUserID}}" title="Go to {{comment.CreatedByUserName}}'s profile" class="ipsType_break">
                                                    <span style="color:azure">{{comment.CreatedByUserName}}</span>
                                                </a>
                                            </h3>

                                            <div class="cAuthorPane_photo">
                                                <a href="/Users/Profile/{{comment.CreatedByUserID}}" class="ipsUserPhoto ipsUserPhoto_large" title="Go to {{comment.CreatedByUserName}}'s profile">
                                                    <img ng-src="~/FileUpload/UserProfile/{{comment.CreatedByPhotoPath}}" alt="{{comment.CreatedByUserName}}" itemprop="image">
                                                </a>
                                            </div>
                                        </div>
                                        <aside class="ipsComment_author cAuthorPane ipsColumn ipsColumn_medium ipsResponsive_hidePhone">

                                            <h3 class="ipsType_sectionHead cAuthorPane_author ipsType_blendLinks ipsType_break">
                                                <i style="font-size: 16px" class="fa fa-circle ipsOnlineStatus_online" title="{{comment.CreatedByUserName}} is online now"></i>
                                                <strong>
                                                    <a href="/Users/Profile/{{comment.CreatedByUserID}}" title="Go to {{comment.CreatedByUserName}}'s profile" class="ipsType_break">
                                                        <span style="color:azure">{{comment.CreatedByUserName}}</span>
                                                    </a>
                                                </strong>
                                            </h3>


                                            <ul class="cAuthorPane_info ipsList_reset">
                                                <li class="cAuthorPane_photo">
                                                    <a href="/Users/Profile/{{comment.CreatedByUserID}}" class="ipsUserPhoto ipsUserPhoto_large" title="Go to {{comment.CreatedByUserName}}'s profile">
                                                        <img ng-src="~/FileUpload/UserProfile/{{comment.CreatedByPhotoPath}}" alt="{{comment.CreatedByUserName}}" itemprop="image">
                                                    </a>
                                                </li>

                                            </ul>
                                        </aside>
                                        <div class="ipsColumn ipsColumn_fluid">
                                            <div id=" _wrap" class="ipsComment_content ipsType_medium  ipsFaded_withHover">
                                                <div class="ipsComment_meta ipsType_light">
                                                    <div class="ipsPos_right ipsType_light ipsType_reset ipsFaded ipsFaded_more ipsType_blendLinks">

                                                    </div>
                                                    <div class="ipsType_reset">
                                                        <a href="" class="ipsType_blendLinks">
                                                            Posted
                                                            <time title="{{comment.CreatedTime}}">{{comment.CreatedTime}}</time>
                                                        </a>

                                                        @if (User.Identity.IsAuthenticated)
                                                        {
                                                            <div ng-show="comment.CreatedByUserID == '@User.Identity.GetUserId()'" class="pull-right">
                                                                <a ng-click="deleteComment(comment.CommentID)" style="color: #25C2F5 !important" class="pull-right">
                                                                    <span class="fa fa-remove "></span>Delete
                                                                </a>

                                                                <span class="pull-right"> &nbsp; &nbsp; </span>
                                                                <a href="#EditComment" style="color: #25C2F5 !important" ng-click="editComment(comment.CommentID)"  id="{{comment.CommentID}}" class="pull-right">
                                                                    <span class="fa fa-edit "></span>Edit
                                                                </a>
                                                            </div>

                                                        }
                                                        <span class="ipsResponsive_hidePhone">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="cPost_contentWrap ipsPad">
                                                    <div class="ipsType_normal ipsType_richText ipsContained">
                                                        <div ng-bind-html="renderHtml(comment.Text)"> </div>
                                                    </div>

                                                    <div class="ipsItemControls">
                                                        <div class="ipsItemControls_right ipsClearfix ">
                                                            <div class="ipsReact ipsPos_right">
                                                                <div class="ipsReact_blurb">
                                                                    <ul class="ipsReact_reactions">
                                                                        <li class="ipsReact_reactCount">
                                                                            <a href="" title="See who reacted &quot;Like&quot;">
                                                                                <span>
                                                                                    <img src="~/Content/blackfyre/images/common/react_like.png" alt="Like" />

                                                                                </span>
                                                                                <span>
                                                                                    {{comment.CommentLikesCount}}
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="ipsReact_overview ipsType_blendLinks">
                                                                        <a href="" title="See who reacted to this"> {{comment.CommentLikesCount}} members</a>
                                                                        reacted to this
                                                                    </div>
                                                                </div>

                                                                @*<div class="ipsReact_types">
                                                                        <ul class="ipsList_inline"></ul>
                                                                        @if (comment.ForumCommentLikes.Any(x => x.UserID == User.Identity.GetUserId() && x.CommentID == comment.ForumPostCommentID))
                                                                        {
                                                                            <span class="ipsReact_button ipsReact_reacted">
                                                                                <a href="javascript:void(null)" class="ipsReact_reaction">
                                                                                    <img src="~/Content/blackfyre/images/common/react_like.png" onclick="likeComment(@comment.ForumPostCommentID)" alt="Dislike" title="Dislike" />
                                                                                    <span class="ipsReact_name">Dislike</span>
                                                                                </a>
                                                                            </span>
                                                                            <a href="" class="ipsReact_unreact ipsHide" title="Remove your reaction">×</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="ipsReact_button ">
                                                                                <a href="javascript:void(null)" class="ipsReact_reaction">
                                                                                    <img src="~/Content/blackfyre/images/common/react_like.png" onclick="likeComment(@comment.ForumPostCommentID)" alt="Like" title="Like" />
                                                                                    <span class="ipsReact_name">Like</span>
                                                                                </a>
                                                                            </span>

                                                                        }
                                                                    </div>*@

                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- / FORUM POST COMMENTS -->


                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="cTopicPostArea ipsBox ipsBox_transparent ipsAreaBackground ipsPad  ipsSpacer_top" id="EditComment">
                                            <div class="ipsComposeArea ipsComposeArea_withPhoto ipsClearfix ipsContained ipsComposeArea_minimized">
                                                <label class="ipsFieldRow_label" for="topic_content">
                                                    Content <span class="ipsFieldRow_required">Required</span>
                                                </label>
                                                <div class="ipsType_normal ipsType_richText ">
                                                    <textarea required data-ui-tinymce="tinymceOptions" id="post" data-ng-model="commentText"></textarea>
                                                </div>
                                                <br />
                                                <ul class="ipsToolList ipsToolList_horizontal ipsClearfix ipsSpacer_both">
                                                    <li>
                                                        <a class="ipsButton ipsButton_medium ipsButton_important" ng-click="createComment(postDetail.ForumPostID,postDetail.CreatedByUserName)" title="Submit your comment !">Submit Reply</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                    else if (User.Identity.IsAuthenticated == false)
                                    {
                                        <div class="bbp-template-notice">
                                            <p>You must be logged in to reply to this topic.</p>
                                        </div>
                                    }

                                </div>
                                <hr class="ipsHr">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="cWidgetContainer " style="margin-top:10px">
                                        <ul class="ipsList_reset">
                                            <li class="ipsWidget ipsWidget_horizontal ipsBox">
                                                <h3 class="ipsType_reset ipsWidget_title">
                                                    Recently Browsing
                                                    &nbsp;&nbsp;<span class="ipsType_light ipsType_unbold ipsType_medium">1 member</span>
                                                </h3>
                                                <div class="ipsWidget_inner ipsPad">
                                                    <ul class="ipsList_inline ipsList_csv ipsList_noSpacing ipsType_normal">

                                                        <li>
                                                            <a href="/Users/Profile/@User.Identity.GetUserId()" title="Go to @User.Identity.GetUserName()'s profile"><span style="color:#c4c4c4">@User.Identity.GetUserName()</span></a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }

                            </div>
                            <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">

                                <ul>
                                    <li>
                                        <a title="Home" href="/Home/Index">
                                            <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/Forum/{{postDetail.ForumID}}">
                                            <span> {{postDetail.ForumName}} <i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/ForumsTopic/{{postDetail.ForumTopicID}}">
                                            <span>{{postDetail.ForumTopicName}} <i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        {{postDetail.ForumPostTitle}}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>

    <!-- Edit Forum Post -->
    <div class="container main-content no-padding" ng-show="editPostShow">
        <div id="ipsLayout_contentArea">
            <main role="main" id="ipsLayout_body" class="ipsLayout_container">
                <div id="ipsLayout_contentArea">
                    <div id="ipsLayout_contentWrapper">
                        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
                            <ul>
                                <li>
                                    <a title="Home" href="/Home/Index">
                                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                                    </a>
                                </li>

                                <li>
                                    Edit Forum Post
                                </li>
                            </ul>
                        </nav>
                        <div id="ipsLayout_mainArea">
                            <a id="elContent"></a>
                            <div class="ipsPageHeader ipsClearfix ipsSpacer_bottom">
                                <h1 class="ipsType_pageTitle">Edit the Topic</h1>
                            </div>
                            <form role="form" id="form1" name="form1" ng-submit="formSubmit()">

                                <div class="ipsBox">
                                    <h2 class="ipsType_sectionTitle ipsType_reset ipsHide">Topic Details</h2>
                                    <div class="ipsPad">
                                        <ul class="ipsForm ipsForm_vertical">
                                            <li class="ipsFieldRow ipsClearfix ">
                                                <label class="ipsFieldRow_label" for="topic_title">
                                                    Title <span class="ipsFieldRow_required">Required</span>
                                                </label>
                                                <div class="ipsFieldRow_content">
                                                    <input type="text" ng-model="model.ForumPostTitle" required id="ForumPostTitle" style="background: #202020; border-color: #242424; border-radius: 0px; color:#c4c4c4;  font-size: 14px; vertical-align: middle; border-width: 1px; border-style: solid; border-color: rgba(0,0,0,0.2); border-radius: 3px; width: 100%; max-width: 350px; padding: 7px;">
                                                </div>
                                            </li>

                                            <li class="ipsFieldRow ipsClearfix " id="topic_content_editor">
                                                <label class="ipsFieldRow_label" for="topic_content">
                                                    Content <span class="ipsFieldRow_required">Required</span>
                                                </label>
                                                <div class="ipsFieldRow_content">
                                                    <div class="ipsComposeArea_editor" data-role="editor">
                                                        <div class="ipsType_normal ipsType_richText ipsType_break">
                                                            <div data-role="editorComposer">

                                                                <!-- NOTE: TinyMCE textareas must have id's -->
                                                                <textarea required data-ui-tinymce="tinymceforEdit" id="detailEdit" data-ng-model="model.ForumPostContent"></textarea>

                                                                <div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <ul class="ipsToolList ipsToolList_horizontal ipsClearfix ipsSpacer_both">
                                        <li>
                                            <a class="ipsButton ipsButton_medium ipsButton_important" style="margin-left:10px" ng-click="reset()" title="Reset !">Cancel</a>
                                            <a class="ipsButton ipsButton_medium ipsButton_important" ng-disabled="!form1.$valid" style="margin-right:10px" ng-click="updatePost(model.ForumPostID)" title="Submit your edit post !">Submit </a>
                                        </li>
                                    </ul>
                                    <br />
                                </div>

                            </form>
                        </div>
                        <nav class="ipsBreadcrumb ipsBreadcrumb_ ipsFaded_withHover">

                            <ul>
                                <li>
                                    <a title="Home" href="/Home/Index">
                                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                                    </a>
                                </li>

                                <li>
                                    Edit Forum Post
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>








