@using SeizeTheDay.DataDomain.ViewModels
@model  LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-content no-padding">
    <div class="reg-form container">
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Login</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="col-md-7 reg-form-inner">
            <div class="heading">
                <h3>Login</h3>
                <div class="clear"></div>
            </div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p>
                <label>UserName:</label>
                @Html.TextBoxFor(model => model.UserName, new { placeholder = "Enter your Name" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

            </p>
            <p>
                <label>Password:</label>
                @Html.TextBoxFor(model => model.Password, new { placeholder = "Enter your Password", type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </p>

                <p class="checkbox-reg">
                    <label>
                        @Html.CheckBoxFor(model => model.RememberMe) <span>
                            Remember Me
                            <a href="/Account/ForgotPassword" style="margin-left:10px; font-size:10px">Forgot password ?</a>
                        </span>

                    </label>
                </p>

                <p class="submit">
                    <button type="submit" class="button-green button-small center-block"> <i class="fa fa-sign-in"></i> Sign In</button>
                </p>
            }
        </div>
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Login</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
</div>

